.macBookPro142 {
  width: 1512px;
  height: 982px;
  display: inline-flex;
  overflow: clip;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  white-space: pre-wrap;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
}
.rectangle3 {
  top: 133px;
  left: 280px;
  width: 1027px;
  height: 636px;
  position: absolute;
  box-sizing: border-box;
  white-space: pre-wrap;
  background-color: rgba(103, 199, 197, 1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.rectangle4 {
  top: 617px;
  left: 421px;
  width: 167px;
  height: 37px;
  position: absolute;
  box-sizing: border-box;
  white-space: pre-wrap;
  background-color: rgba(239, 67, 81, 1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.gETStarted1 {
  top: 626px;
  left: 448px;
  color: white;
  width: 113px;
  height: 19px;
  display: inline;
  position: absolute;
  font-size: 16px;
  box-sizing: border-box;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  white-space: pre-wrap;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.getStartedWithFat1 {
  top: 578px;
  left: 421px;
  color: white;
  width: 258px;
  height: 19px;
  display: inline;
  position: absolute;
  font-size: 16px;
  box-sizing: border-box;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  white-space: pre-wrap;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.fromFigmaFileToA1 {
  top: 225px;
  left: 413px;
  color: white;
  width: 813px;
  height: 39px;
  display: inline;
  position: absolute;
  font-size: 32px;
  box-sizing: border-box;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  white-space: pre-wrap;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.thisSimpleLanding2 {
  width: 712px;
  height: 171px;
  box-sizing: border-box;
  white-space: pre-wrap;
}
.thisSimpleLanding3 {
  color: white;
  display: inline;
  font-size: 16px;
  box-sizing: border-box;
  font-family: Inter;
  line-height: 100%;
  white-space: pre-wrap;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.learnMoreOnHowWe1 {
  color: white;
  display: inline;
  font-size: 16px;
  box-sizing: border-box;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  white-space: pre-wrap;
  margin-block-end: 0px;
  margin-block-start: 0px;
}
.fathymLogoAqua112 {
  top: 22px;
  left: 270px;
  width: 301.22px;
  height: 100px;
  position: absolute;
  box-sizing: border-box;
  white-space: pre-wrap;
}
.mac-book-pro141-container {
  display: inline-flex;
}

